@media screen and (max-width: 600px) {
    /* Top */
    .top-banner{
        flex-direction: column;
        margin-right: 0 !important;
    }
    .top-banner-div{
        width: 100% !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .top-banner-title{
        font-size: 2.3em !important;
    }
    .top-banner-desc{
        font-size: 0.8em !important;
    }
    .top-banner-btn{
        display: none !important;
    }
    .top-banner-img{
        margin: 0 !important;
        margin-top: -70px !important;
    }

    /* Statistics */
    .statistics{
        padding-top: 30px !important;
    }
    .statistics-main{
        display: flex !important;
        flex-direction: column !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-left: 30px !important; 
    }
    .statistics-top{ 
        width: 100% !important;
        margin-bottom: 40px;
    }
    .statistics-mid{
        margin: 0 !important;
    }
    .statistics-title{
        font-size: 32px !important;
        line-height: 38.4px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .statistics-desc{
        font-size: 17px;
    }
    .statistics-mid-card{
        text-align: center;
    }
    .statistics-number{
        font-size: 36px !important;
    }
    .statistics-number-desc{
        font-size: 16px;
        line-height: 19px;
    }
    .statistics-bottom-card{
        display: none;
        padding: 30px !important;
    }
    .statistics-bottom-card:first-child{
        display: flex !important;
        flex-direction: column;
    }
    .statistics-bottom-card-decs{
        font-size: 14px;
    }

    /* Vacncy */
    .vacancy{
        padding-top: 30px !important;
    }
    .vacancy-title{
        width: 100% !important;
        font-size: 24px;
    }
    .card{
        margin-right: 0 !important;
    }

    /* about-us */
    .about-us{
        padding-top: 50px !important;
    }
    .about-us-inner{
        padding: 0 !important;
    }
    .about-us-cards{
        flex-direction: column;
    }
    .about-us-card{
        width: 100% !important;
        margin-bottom: 50px !important;
    }
    .about-us-card-number{
        font-size: 36px !important;
    }
    .about-us-card-desc{
        font-size: 12px;
    }
    
    /* partners */
    .partners-title{
        width: 100% !important;
        font-size: 24px !important;
    }

    /* footer */
    .footer{
        padding-top: 40px;
    }
    .footer-top{
        flex-direction: column;
        align-items: flex-start !important;
        padding-bottom: 20px;
    }
    .footer-logo{
        width: 100px;
    }
    .footer-logo img{
        width: 100%;
    }
    .footer-form{
        width: 100%;
    }
    .footer-input{
        width: 100% !important;
    }
    .footer-input-title{
        align-self: flex-start !important;
    }
    .footer-bottom{
        justify-content: space-between;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 !important;
    }
    .footer-link{
        margin-right: 0 !important;
        margin-bottom: 30px;
    }
    .footer-rights-icons{
        
    }
    .footer-rights{
        font-size: 12px;
        text-align: left;
    }

    /* header */
    .header-link{
        margin-right: 0 !important;
    }
    .header-btn{
        margin-left: 0 !important;
    }
}