@media screen and (max-width: 600px) {
    /* Top */
    .top-banner{
        flex-direction: column;
        margin-right: 0 !important;
    }
    .top-banner-div{
        width: 100% !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .top-banner-title{
        font-size: 2.3em !important;
    }
    .top-banner-desc{
        font-size: 0.8em !important;
    }
    .top-banner-btn{
        display: none !important;
    }
    .top-banner-img{
        margin: 0 !important;
        margin-top: -70px !important;
    }

    /* Statistics */
    .statistics{
        padding-top: 30px !important;
    }
    .statistics-main{
        display: flex !important;
        flex-direction: column !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-left: 30px !important; 
    }
    .statistics-top{ 
        width: 100% !important;
        margin-bottom: 40px;
    }
    .statistics-mid{
        margin: 0 !important;
    }
    .statistics-title{
        font-size: 32px !important;
        line-height: 38.4px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .statistics-desc{
        font-size: 17px;
    }
    .statistics-mid-card{
        text-align: center;
    }
    .statistics-number{
        font-size: 36px !important;
    }
    .statistics-number-desc{
        font-size: 16px;
        line-height: 19px;
    }
    .statistics-bottom-card{
        display: none;
        padding: 30px !important;
    }
    .statistics-bottom-card:first-child{
        display: flex !important;
        flex-direction: column;
    }
    .statistics-bottom-card-decs{
        font-size: 14px;
    }
}